<section class="bg-theme-green py-5 section section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-html">
    <div class="home-html">
        <div class="container">
            {% if section.settings.code != blank %}
                {{ section.settings.code }}
            {% else %}

                <div>
                    <h4 class="text-white">For Professional Use</h4>
                    <h2 class="f1 f-headline-l text-white mb-3"> One Product, Eight Solutions.</h2>
                    <p class="text-white f3 mb-3">Vital Oxide features a wide variety of applications including as: An Allergen/Odor Eliminator, Killing Mold + Mildew, and HVAC and Soft Surface Sanitizing. 
                        Vital Oxide, proven to kill a wide range of virues and bacteria, is EPA Registered as a Hospital Disinfectant and NSF Registered as a No-rinse required Food Surface Sanitizer.</p>
                    <div class="">
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/hvac">HVAC</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/healthcare">Healthcare</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/office">Workplace</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/hospitality">Hospitality</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/education">Education</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/mold-remediation">Mold Remediation</a>
                        <a class="btn btn-outline-warning btn-lg mt-2" href="https://vitaloxide.com/pages/fitness-1">Fitness</a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Custom HTML",
    "class": "js-section__home-html",
    "settings": [
        {
            "type": "html",
            "id": "code",
            "label": "HTML",
            "default": "<div class=placeholder-noblocks>Use this section to create or embed advanced HTML content.</div>"
        }
    ],
    "presets": [
        {
            "name": "Custom HTML",
            "category": "Advanced"
        }
    ]
}
{% endschema %}