/** Custom CSS **/

html {
    overflow-y: unset!important;
}


#prof_use_global .card {
    margin-bottom: 20px;
    /*min-height: 250px;*/
}

#prof_use_global .card-text {
    /*min-height: 130px;*/
}

.profuse-bg {
    height:450px;
    width:450px;
    background-size:cover;
    border-radius:10px;
}